.navbar {
  list-style: none;
  background-color: transparent;
}

a {
  color: white !important;
  text-decoration: none !important;
}

a.active {
  text-decoration: underline !important;
}

footer {
  bottom: 0;
  color: white;
  font-size: 12pt;
  padding: 20px;
  position: fixed;
  left: 0;
  width: 100%;
  text-align: center;
}

.home-intro {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400px;
  font-size: 80px;
  color: white;
}

.home-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

body {
  background-image: url('./assets/succulent.png');
  background-size: 200%;
  background-position: 40% 50%;
  height: 80vh;
  background-repeat: no-repeat;
  margin: 20px;
}

.not-found-content{
  background-color: black;
  padding: 100px;
  margin: 100px;
  color: white;
  text-align: center;
}

.single-herb-container{
  width:100vw;
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  padding:40px 20px;

}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Roboto Condensed", sans-serif;
}
.herb-cards {
  display:flex;
  flex-direction:column;
  width:400px;
  margin-bottom:60px;
  object-fit:cover;
  object-position:bottom;
  justify-content: center;

}

.herb-image{
  width:100vw;
  /* height:300px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.herb-card-text{
  margin:-30px auto;
  margin-bottom:-50px;
  height:35rem;
  width:30rem;
  background-color:#1D1C20;
  color:#fff;
  padding:15px;
  overflow: auto;
  display: flex;
  vertical-align: middle;
  flex-direction:column;
  align-items: center;

}

.herb-scientific-name{
  font-style:italic;
  text-align:center;
}
.herb-common-name{
  font-size:2.2rem;
  margin-bottom:5px;
  margin-top:5px;
}

.herb-card-body{
  font-size:1.25rem;
  background-size:cover;
  background-position:right;
  background-attachment:fixed;
}

.herb-return-index{
  width:100px;
  height:100px;
  background-color:#87AE73;
  color:#fff;
  margin-left:auto;
  font-size:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.delete-button {
  width:100px;
  height:100px;
  background-color:#970C0A;
  color:#fff;
  margin-left:auto;
  font-size:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-sections{
  color:#87AE73
}

.about-picture {
  width: 40rem;
}

.about-box {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  padding: 20px;
}

form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* 
.contact-us {
  background-color: black;
  color: white;
  padding: 20px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.contact-us form {
  width: 100%;
}

.contact-us label {
  display: block;
  margin-bottom: 10px;
  color: #87AE73;
}

.contact-us input,
.contact-us textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #1D1C20;
  color: #fff;
}

.contact-us button {
  background-color: #87AE73;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */